* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
     font-family: 'Space Mono', monospace;
}
body {
     margin:0;
     padding:0;
     text-align:center 
}
.paused {
     color:#257ba0;
     background:#72ead5 
}
.running {
     color:#257ba0;
     background:#72ead5 
}
.half {
     color:#257ba0;
     background:#fdd570 
}
.almost {
     color:#257ba0;
     background:#fc63a3 
}
.over {
     color:#fc63a3;
     background:#257ba0 
}
span.digits {
     cursor:pointer;
     min-height: 100vh;
     min-width: 100vw;
     font-size: 30vw;
     display: grid;
     align-items:center
}
