* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
     font-family: 'Space Mono', monospace;
}
body {
     margin:0;
     padding:0;
     text-align:center 
}
.paused {
     color:#000000;
     background:#00ff00; 
}
.running {
     color:#000000;
     background:#00ff00;
}
.half {
     color:#00aae4;
     background:#00ff00; 
}
.almost {
     color:#e87f1c;
     background:#00ff00; 
}
.over {
     color:#dc2380;
     background:#00ff00; 
}
span.digits {
     cursor:pointer;
     min-height: 100vh;
     min-width: 100vw;
     font-size: 30vw;
     display: grid;
     align-items:center
}
