* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
     font-family: 'Space Mono', monospace;
}
body {
     margin:0;
     padding:0;
     text-align:center 
}
.paused {
     color:#ffffff;
     background:#00ff00; 
}
.running {
     color:#ffffff;
     background:#00ff00;
}
.half {
     color:#fdd56f;
}
.almost {
     color:#fe0000;
}
.over {
     color:#fe0000;
}
span.digits {
     cursor:pointer;
     min-height: 100vh;
     min-width: 100vw;
     font-size: 30vw;
     display: grid;
     align-items:center
}
